!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="./main.css">

<title>Main Page</title>
</head>
<header>
		<div id="header" class="container row-full" >
  			<img src="./resources/templates/assets/Logo_Centro_Paula_Souza.png" class="rounded" alt="Logo">
  				<div>
  				<p class="t_logo " ><strong>FATEC - ZONA SUL</strong></p>
  					<div class="container">
  						<h2> Sistemas de Eventos e Atividades da Fatec Zona Sul</h2>
  				</div>
  		</div>
  	</div>
</header>

<body>
	  	<div class="container">	

  			<div class="row">
            	<div class="col-md-4">
              		<div class="card mb-4 box-shadow">
                		<img class="card-img-top" src="./resources/templates/assets/events.svg" data-holder-rendered="true">
               				<div class="card-body">
                	  			<p class="card-text">Descrição do Evento</p>
     						<div class="d-flex justify-content-between align-items-center">
                   	</div>
                	</div>
              	</div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top c_logo" src="./resources/templates/assets/events.svg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Descrição do Evento</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top c_logo" src="./resources/templates/assets/events.svg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Descrição do Evento</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top c_logo" src="./resources/templates/assets/events.svg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Descrição do Evento</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top c_logo" src="./resources/templates/assets/events.svg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Descrição do Evento</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top c_logo" src="./resources/templates/assets/events.svg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Descrição do Evento</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top c_logo" src="./resources/templates/assets/events.svg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Descrição do Evento</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top c_logo" src="./resources/templates/assets/events.svg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Descrição do Evento</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
           <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top c_logo" src="./resources/templates/assets/events.svg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Descrição do Evento</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
      </div>
  		</span>
  	</div>